.container
    .container.main_body
        .row
            ul.nav.nav-tabs
                li
                    a(ui-sref="main") Главная
                li
                    a(ui-sref="products") Продукция
                li.active
                    a(ui-sref="#") Полезная информация
                li
                    a(ui-sref="kontaks") Контакты
                li
                    a(ui-sref="recall") Отзывы
    .container
        .row
            .col-sm-6(style='padding-top:30px').col-xs-12
                 h1 Полезная информация