.container
    .container.main_body
        .row
            ul.nav.nav-tabs
                li.active
                    a(href="#") Главная
                li
                    a(ui-sref="products") Продукция
                li
                    a(ui-sref="information") Полезная информация
                li
                    a(ui-sref="kontaks") Контакты
                li
                    a(ui-sref="recall") Отзывы
    .container
        .row
            .col-sm-6.text_main.col-xs-12
                p Компания <b>ПРОФ СНАБ</b> упаковка, была создана в 2013 году и за недолгий период существования уже сумела, не только остаться на Российском рынке, но и динамически развиваться в сфере поставки упаковочных материалов. Основатели компании <b>ПРОФ СНАБ</b> - это люди работавшие в сфере обеспечения складских комплексов, транспортных компаний, сетевых магазинов.
                p Компания <b>ПРОФ СНАБ</b> готова предложить Вам упаковочные, маркировочные материалы отличного качества, по приемлемым ценам. Мы не продаем виртуальные товары за реальные деньги, как это делают нечестные компании. Мы продаем только качественную продукцию. Покупая у нас Вы можете быль уверены в качестве продукции. Выбрав нас однажды, Вы останетесь довольными и не захотите сменить поставщика.
                p Покупая у нас Вы получаете качественныый сервис обслуживания. Наши операторы ответят на все интересующие Вас вопросы о имеющейся продукции.
                p Честность с клиентами наша прерогатива!!!
            .col-sm-6.col-xs-12
                .sider_container
                    .next_button(ng-click='next()')
                        i.fa.fa-angle-right
                    .prev_button(ng-click='prew()')
                        i.fa.fa-angle-left
                    .carousel
                        img(ng-src='{{images[index]}}')
